article {
  border: solid;
  border-width: 1px;
  border-color: #eee;
  border-radius: 7px 7px 5px 5px;
}
article:hover {
  border-color: #B3B6B7;
}

header {
  color: white;
  display: flex;
  background-color: #eee;
  padding: 0 10px 0 10px;
  border-radius: 5px 5px 0 0;
}

header:hover {
  background-color: #B3B6B7;
}

img.avatar {
  width:  70px;
  height: 70px;
  border-radius: 5px;
  margin: 10px 10px 10px 0;
}

h4 {
  font-size: 1.2em;
  font-weight: lighter;
  color: white;
  margin-left: auto;
}

p {
  padding: 10px;
  margin: 0;
}

footer {
  font-size: 0.8em;
  border-radius: 5px;
}

hr.tweet-separator {
  margin: 0;
  border: solid;
  border-width: 0.5px;
  color: #eee;
}